:root[data-Color-styles="default"] {
  --Color-styles-colour-palette-alternative-100: rgb(241, 240, 243);
  --Color-styles-colour-palette-alternative-1000: rgb(22, 22, 27);
  --Color-styles-colour-palette-alternative-200: rgb(226, 226, 231);
  --Color-styles-colour-palette-alternative-300: rgb(197, 197, 207);
  --Color-styles-colour-palette-alternative-400: rgb(168, 167, 182);
  --Color-styles-colour-palette-alternative-500: rgb(139, 138, 158);
  --Color-styles-colour-palette-alternative-600: rgb(110, 109, 134);
  --Color-styles-colour-palette-alternative-700: rgb(88, 87, 107);
  --Color-styles-colour-palette-alternative-800: rgb(66, 65, 80);
  --Color-styles-colour-palette-alternative-900: rgb(44, 44, 54);
  --Color-styles-colour-palette-blue-100: rgb(231, 247, 254);
  --Color-styles-colour-palette-blue-1000: rgb(4, 35, 48);
  --Color-styles-colour-palette-blue-200: rgb(208, 239, 252);
  --Color-styles-colour-palette-blue-300: rgb(160, 223, 249);
  --Color-styles-colour-palette-blue-400: rgb(113, 207, 246);
  --Color-styles-colour-palette-blue-500: rgb(65, 191, 243);
  --Color-styles-colour-palette-blue-600: rgb(18, 175, 240);
  --Color-styles-colour-palette-blue-700: rgb(14, 140, 192);
  --Color-styles-colour-palette-blue-800: rgb(11, 105, 144);
  --Color-styles-colour-palette-blue-900: rgb(7, 70, 96);
  --Color-styles-colour-palette-dark-100: rgb(232, 232, 232);
  --Color-styles-colour-palette-dark-1000: rgb(5, 5, 5);
  --Color-styles-colour-palette-dark-200: rgb(209, 209, 209);
  --Color-styles-colour-palette-dark-300: rgb(162, 163, 163);
  --Color-styles-colour-palette-dark-400: rgb(116, 116, 118);
  --Color-styles-colour-palette-dark-500: rgb(69, 70, 72);
  --Color-styles-colour-palette-dark-600: rgb(23, 24, 26);
  --Color-styles-colour-palette-dark-700: rgb(18, 19, 21);
  --Color-styles-colour-palette-dark-800: rgb(14, 14, 16);
  --Color-styles-colour-palette-dark-900: rgb(9, 10, 10);
  --Color-styles-colour-palette-green-100: rgb(232, 251, 245);
  --Color-styles-colour-palette-green-1000: rgb(5, 43, 30);
  --Color-styles-colour-palette-green-200: rgb(209, 247, 234);
  --Color-styles-colour-palette-green-300: rgb(163, 238, 214);
  --Color-styles-colour-palette-green-400: rgb(118, 230, 193);
  --Color-styles-colour-palette-green-500: rgb(72, 221, 173);
  --Color-styles-colour-palette-green-600: rgb(26, 213, 152);
  --Color-styles-colour-palette-green-700: rgb(21, 170, 122);
  --Color-styles-colour-palette-green-800: rgb(16, 128, 91);
  --Color-styles-colour-palette-green-900: rgb(10, 85, 61);
  --Color-styles-colour-palette-indigo-100: rgb(238, 239, 254);
  --Color-styles-colour-palette-indigo-1000: rgb(17, 18, 49);
  --Color-styles-colour-palette-indigo-200: rgb(221, 222, 253);
  --Color-styles-colour-palette-indigo-300: rgb(187, 190, 250);
  --Color-styles-colour-palette-indigo-400: rgb(153, 157, 248);
  --Color-styles-colour-palette-indigo-500: rgb(119, 125, 245);
  --Color-styles-colour-palette-indigo-600: rgb(85, 92, 243);
  --Color-styles-colour-palette-indigo-700: rgb(68, 74, 194);
  --Color-styles-colour-palette-indigo-800: rgb(51, 55, 146);
  --Color-styles-colour-palette-indigo-900: rgb(34, 37, 97);
  --Color-styles-colour-palette-light-100: rgb(255, 255, 255);
  --Color-styles-colour-palette-light-1000: rgb(26, 32, 37);
  --Color-styles-colour-palette-light-200: rgb(241, 245, 247);
  --Color-styles-colour-palette-light-300: rgb(217, 225, 231);
  --Color-styles-colour-palette-light-400: rgb(179, 197, 212);
  --Color-styles-colour-palette-light-500: rgb(153, 178, 198);
  --Color-styles-colour-palette-light-600: rgb(128, 159, 184);
  --Color-styles-colour-palette-light-700: rgb(102, 127, 147);
  --Color-styles-colour-palette-light-800: rgb(77, 95, 110);
  --Color-styles-colour-palette-light-900: rgb(51, 64, 74);
  --Color-styles-colour-palette-orange-100: rgb(254, 240, 237);
  --Color-styles-colour-palette-orange-1000: rgb(49, 20, 15);
  --Color-styles-colour-palette-orange-200: rgb(253, 224, 219);
  --Color-styles-colour-palette-orange-300: rgb(250, 193, 183);
  --Color-styles-colour-palette-orange-400: rgb(248, 163, 146);
  --Color-styles-colour-palette-orange-500: rgb(245, 132, 110);
  --Color-styles-colour-palette-orange-600: rgb(243, 101, 74);
  --Color-styles-colour-palette-orange-700: rgb(194, 81, 59);
  --Color-styles-colour-palette-orange-800: rgb(146, 61, 44);
  --Color-styles-colour-palette-orange-900: rgb(97, 40, 30);
  --Color-styles-colour-palette-pink-100: rgb(255, 240, 248);
  --Color-styles-colour-palette-pink-1000: rgb(51, 21, 37);
  --Color-styles-colour-palette-pink-200: rgb(255, 225, 241);
  --Color-styles-colour-palette-pink-300: rgb(255, 196, 227);
  --Color-styles-colour-palette-pink-400: rgb(254, 166, 214);
  --Color-styles-colour-palette-pink-500: rgb(254, 137, 200);
  --Color-styles-colour-palette-pink-600: rgb(254, 107, 186);
  --Color-styles-colour-palette-pink-700: rgb(203, 86, 149);
  --Color-styles-colour-palette-pink-800: rgb(152, 64, 112);
  --Color-styles-colour-palette-pink-900: rgb(102, 43, 74);
  --Color-styles-colour-palette-purple-100: rgb(246, 243, 254);
  --Color-styles-colour-palette-purple-1000: rgb(33, 26, 49);
  --Color-styles-colour-palette-purple-200: rgb(237, 230, 253);
  --Color-styles-colour-palette-purple-300: rgb(219, 206, 250);
  --Color-styles-colour-palette-purple-400: rgb(201, 181, 248);
  --Color-styles-colour-palette-purple-500: rgb(183, 157, 245);
  --Color-styles-colour-palette-purple-600: rgb(165, 132, 243);
  --Color-styles-colour-palette-purple-700: rgb(132, 106, 194);
  --Color-styles-colour-palette-purple-800: rgb(99, 79, 146);
  --Color-styles-colour-palette-purple-900: rgb(66, 53, 97);
  --Color-styles-colour-palette-red-100: rgb(254, 241, 244);
  --Color-styles-colour-palette-red-1000: rgb(49, 24, 29);
  --Color-styles-colour-palette-red-200: rgb(253, 228, 233);
  --Color-styles-colour-palette-red-300: rgb(251, 200, 211);
  --Color-styles-colour-palette-red-400: rgb(248, 173, 188);
  --Color-styles-colour-palette-red-500: rgb(246, 145, 166);
  --Color-styles-colour-palette-red-600: rgb(244, 118, 144);
  --Color-styles-colour-palette-red-700: rgb(195, 94, 115);
  --Color-styles-colour-palette-red-800: rgb(146, 71, 86);
  --Color-styles-colour-palette-red-900: rgb(98, 47, 58);
  --Color-styles-colour-palette-yellow-100: rgb(255, 250, 237);
  --Color-styles-colour-palette-yellow-1000: rgb(50, 40, 15);
  --Color-styles-colour-palette-yellow-200: rgb(254, 244, 219);
  --Color-styles-colour-palette-yellow-300: rgb(253, 234, 183);
  --Color-styles-colour-palette-yellow-400: rgb(252, 223, 146);
  --Color-styles-colour-palette-yellow-500: rgb(251, 213, 110);
  --Color-styles-colour-palette-yellow-600: rgb(250, 202, 74);
  --Color-styles-colour-palette-yellow-700: rgb(200, 162, 59);
  --Color-styles-colour-palette-yellow-800: rgb(150, 121, 44);
  --Color-styles-colour-palette-yellow-900: rgb(100, 81, 30);
}
:root {
  --Color-styles-main-colours-alternative: rgb(110, 109, 134);
  --Color-styles-main-colours-alternative_secondary: rgb(172, 179, 199);
  --Color-styles-main-colours-black: rgb(0, 0, 0);
  --Color-styles-main-colours-blue_primary: rgb(18, 175, 240);
  --Color-styles-main-colours-dark_borders: rgb(50, 52, 56);
  --Color-styles-main-colours-dark_content: rgb(37, 39, 42);
  --Color-styles-main-colours-dark_grey: rgb(56, 68, 85);
  --Color-styles-main-colours-dark_primary: rgb(23, 24, 26);
  --Color-styles-main-colours-dark_secondary: rgb(28, 29, 32);
  --Color-styles-main-colours-indigo_primary: rgb(85, 92, 243);
  --Color-styles-main-colours-light_borders: rgb(241, 245, 247);
  --Color-styles-main-colours-light_content: rgb(217, 225, 231);
  --Color-styles-main-colours-light_primary: rgb(128, 159, 184);
  --Color-styles-main-colours-light_secondary: rgb(153, 178, 198);
  --Color-styles-main-colours-orange_primary: rgb(243, 101, 74);
  --Color-styles-main-colours-pink_primary: rgb(254, 107, 186);
  --Color-styles-main-colours-positive_state: rgb(26, 213, 152);
  --Color-styles-main-colours-purple_primary: rgb(165, 132, 243);
  --Color-styles-main-colours-red_primary: rgb(244, 118, 144);
  --Color-styles-main-colours-waring_state: rgb(234, 58, 61);
  --Color-styles-main-colours-white: rgb(255, 255, 255);
  --Color-styles-main-colours-yellow_primary: rgb(250, 202, 74);
}
:root[data-palette="light"] {
  --accents-inactive: rgb(154, 159, 156);
  --accents-inactive-surface: rgb(231, 236, 233);
  --accents-on-primary: rgb(254, 254, 254);
  --accents-on-primary-surface: rgb(0, 48, 0);
  --accents-on-secondary: rgb(254, 254, 254);
  --accents-on-secondary-surface: rgb(0, 47, 63);
  --accents-primary: rgb(4, 102, 48);
  --accents-primary-surface: rgb(221, 234, 227);
  --accents-secondary: rgb(0, 130, 148);
  --accents-secondary-surface: rgb(214, 235, 238);
  --additional-negative: rgb(174, 19, 66);
  --additional-negative-surface: rgb(245, 227, 232);
  --additional-on-negative: rgb(254, 254, 254);
  --additional-on-negative-surface: rgb(106, 0, 19);
  --additional-on-positive: rgb(254, 254, 254);
  --additional-on-positive-surface: rgb(0, 48, 0);
  --additional-positive: rgb(22, 101, 44);
  --additional-positive-surface: rgb(223, 234, 226);
  --layout-on-surface: rgb(31, 34, 32);
  --layout-on-surface-secondary: rgb(111, 115, 112);
  --layout-strokes: rgb(214, 219, 216);
  --layout-surface-high: rgb(252, 253, 252);
  --layout-surface-low: rgb(242, 247, 244);
  --layout-surface-mid: rgb(247, 250, 248);
}
